html, body {
    width: 100%;
    height: 100%;
    background: rgb(236, 240, 245);
}
.wrapper {
    width: 100%;
    height: 100%;
}
#home {
    width: 100%;
    height: 100%;
    background: url('http://www.publicdomainpictures.net/pictures/50000/velka/flower-meadow.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container{
    padding: 25px;
}

.page-holder{
    top:35%;
    left: 20%;
    position: absolute;
}
.custom-file-input, .custom-file-input{
    color: #28a745;
    background-color: transparent;
    background-image: none;
    border: 1px solid #28a745;
    cursor: pointer;
}

.image-box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
    border: 1px solid #eee;
    padding:5px;
}
.centre {
    text-align: center;
}